body {
    background-color: #dedede;
}

.navbar {
    padding: 0 0 0.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 700;
}

.logo-header {
    text-align: center;
}

.case-text {
    line-height: 1.5;
}

.bg-foot {
    background-color: #063340;
    padding: 0px;
    color: #fff;
}

.social-icon {
    margin: 20px 10px;
    color: #fff;
}

.bg-image {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.big-box {
    margin-top: 25px;
    margin-left: 500px;
    margin-right: 500px;
}

.full-height {
    height: 100vh;
}

.img-edit {
    margin-top: 20px;
}

.service {
    text-align: center;
    width: 75%;
}

.png-white {
    margin-left: 25px;
    margin-top: 25px;
    margin-right: 25px;
}

.shadow-box {
    background-color: #fff;
    /* width: 90%; */
    /* flex: 4; */
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.125);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.125);
}

.flex {
    display: flex;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-1 {
    flex: 1;
}

.flex-4 {
    flex: 3;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.1);
}

#links {
    padding: 100px;
    background-color: #475E66;
}

#links a {
    color: #fff;
}

button {
    background-color: #063340!important;
    color: white!important
}

button:hover {
    transition: transform .5s;
    transform: scale(1.2);
    background-color: #EA6224!important
}

.parallax {
    background-image: url('https://images.unsplash.com/photo-1509391366360-2e959784a276?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}